---
import Social from "@/shared/components/Social.astro";
import ThemeToggle from "@/shared/components/ThemeToggle.astro";

const today = new Date();
---

<style>
  aside {
    margin-block: calc(var(--pico-spacing) * 2);
    padding-top: calc(var(--pico-spacing) * 2);
    border-top: var(--pico-border-width) solid var(--pico-muted-border-color);
    font-size: 12px;
    display: flex;
  }

  aside p {
    margin-left: calc(var(--pico-spacing) * 0.5);
  }

  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }

  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }

  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>

<footer>
  <div class="container">
    <section>
      <ThemeToggle />

      <div class="social-links">
        <Social platform="twitter" username="freddyalvarador" />
        <Social platform="github" username="falvarador" />
        <Social platform="youtube" username="@falvarador" />
      </div>
    </section>
    <aside>
      <p>{today.getFullYear()} @Aprendiendo - Blog.</p>
      <p>Build with <a href="https://astro.build">Astro 🚀</a></p>
    </aside>
  </div>
</footer>
