---

---

<hamburger-menu class="hamburger">
  <span class="line"></span>
  <span class="line"></span>
  <span class="line"></span>
</hamburger-menu>

<script>
  class HamburgerMenu extends HTMLElement {
    navLinks: HTMLSlotElement;

    constructor() {
      super();

      this.navLinks = document.querySelector(".nav-links");
    }

    connectedCallback() {
      this.addEventListener("click", this);
    }

    disconnectedCallback() {
      this.removeEventListener("click", this);
    }

    handleEvent(event: Event) {
      if (event.type === "click") {
        this.navLinks?.classList.toggle("expanded");
      }
    }
  }

  customElements.define("hamburger-menu", HamburgerMenu);
</script>
