---
import Hamburger from "@/shared/components/Hamburger.astro";
import Navbar from "@/shared/components/Navbar.astro";
import ThemeToggle from "@/shared/components/ThemeToggle.astro";
---

<header>
  <nav>
    <Hamburger />
    <ThemeToggle />
    <Navbar />
  </nav>
</header>
