---
import Hamburger from "@/shared/components/Hamburger.astro";
import Navbar from "@/shared/components/Navbar.astro";
---

<header>
  <nav>
    <ul>
      <li><strong>Aprendiendo</strong></li>
    </ul>
    <Hamburger />
    <Navbar />
  </nav>
</header>
