---

---

<ul class="nav-links">
  <li>
    <a href="/" class="contrast">Inicio</a>
  </li>
  <li>
    <a href="/about/" class="contrast">Sobre mi</a>
  </li>
  <li>
    <a href="/blog/" class="contrast">Blog</a>
  </li>
  <li>
    <a href="/tags/" class="contrast">Etiquetas</a>
  </li>
</ul>
