---
const { platform, username } = Astro.props;
---

<style>
  a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: var(--accent-color-5);
    text-decoration: none;
  }
</style>

<a
  rel="noopener noreferrer"
  class="contrast"
  title="GitHub"
  href={`https://www.${platform}.com/${username}`}
  target="_blank"
>
  {platform}
</a>
