.font-1 {
  font-size: 12px;
  letter-spacing: 0.0025em;
  line-height: 16px;
}

.font-2 {
  font-size: 14px;
  letter-spacing: 0em;
  line-height: 20px;
}

.font-3 {
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 24px;
}

.font-4 {
  font-size: 18px;
  letter-spacing: -0.0025em;
  line-height: 26px;
}

.font-5 {
  font-size: 20px;
  letter-spacing: -0.005em;
  line-height: 28px;
}

.font-6 {
  font-size: 24px;
  letter-spacing: -0.00625em;
  line-height: 30px;
}

.font-7 {
  font-size: 28px;
  letter-spacing: -0.0075em;
  line-height: 36px;
}

.font-8 {
  font-size: 35px;
  letter-spacing: -0.01em;
  line-height: 40px;
}

.font-9 {
  font-size: 60px;
  letter-spacing: -0.025em;
  line-height: 60px;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}
