---
import Layout from "@/shared/layouts/layout.astro";

import BlogPost from "@/shared/components/BlogPost.astro";

const posts = Object.values(import.meta.glob("./posts/*.md", { eager: true }));
---

<Layout title="Blog">
  <h1>Mi blog de Astro aprendizaje</h1>
  <p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>

  <ul>
    {
      posts.map((post) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</Layout>
