---
import { getCollection } from "astro:content";

import Layout from "@/shared/layouts/Layout.astro";

import BlogPost from "@/shared/components/BlogPost.astro";

const allPosts = await getCollection("posts", ({ data }) =>
  import.meta.env.PROD ? data.isDraft !== true : true
);
---

<Layout title="Blog">
  <h1>Mi blog de Astro aprendizaje</h1>
  <p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>

  <ul>
    {allPosts.map((post) => <BlogPost post={post} />)}
  </ul>
</Layout>
