---
import Layout from "@/shared/layouts/layout.astro";

import AstroHeart from "@/shared/components/AstroHeart.astro";
---

<Layout title="Inicio">
  <h1 class="font-9">My Astro Blog</h1>
  <AstroHeart />
</Layout>
