---
import Layout from "@/shared/layout.astro";

import AstroHeart from "@/shared/components/AstroHeart.astro";
---

<Layout>
  <a href="/">Inicio</a>
  <a href="/about/">Sobre mi</a>
  <a href="/blog/">Blog</a>

  <h1 class="font-9">My Astro Blog</h1>
  <AstroHeart />
</Layout>
